
/***********************************************
 ********             Global            ********
 ************************************************/

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0B2434;
    height: 100vh;
}

/***********************************************
 ********        Game Board             ********
 ************************************************/

.game--board {
    min-height: 250px;
    max-height: 400px;
    background-color: #f5f5f5;
    border-radius: 5%;
}

/***********************************************
 ********           Header              ********
 ************************************************/

.game--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.game--title {
    text-align: center;
    font-size: 145%;
}

.game--text {
    margin: auto;
    color: #4A4E74;
    text-align: center;
    line-height: 1.5;
    font-size: 0.75rem;
}

/***********************************************
 ********        Dice container         ********
 ************************************************/

.dice--container {
    display: grid;
    width: 100%;
    grid-template: repeat(2, 1fr) / repeat(5, 1fr);
    height: 40%;
    row-gap: .2rem;
}

/***********************************************
 ********        Die Component          ********
 ************************************************/

.die--face {
    box-sizing: content-box;
    border-radius: 5%;
    width: 2rem;
    height: 2rem;
    background-color: white;
    margin: .5rem auto;
    padding: .3rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    cursor: pointer;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.grid-item {
    background-color: black;
    width: .3rem;
    height: .3rem;
    border-radius: .5rem;
    margin: auto;
}
.no-display {
    background-color: transparent;
}


/***********************************************
 ********        Counter text           ********
 ************************************************/
 
 .roll-counter {
    text-align: center;
    font-size: 80%;
    color: #4A4E74;
    font-weight: bold;
}


/***********************************************
 ********           Button              ********
 ************************************************/

#game--button {
    background-color: #5035FF;
    color: white;
    font-family: 'Inter', sans-serif;
}

#game--button:hover {
    box-shadow: none;
}







